name: Check

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Install dependencies
      run: mise run install
    - name: Run tests
      run: mise run test
    - name: Run linters
      run: mise run check
