name: Check

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Install dependencies
      run: mise run install
    - name: Run tests
      run: mise run test
    - name: Run linters
      run: mise run check
